<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chusj.bluetoothPlugin">

    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!--    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>-->
    <!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->
    <!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->

    <uses-feature android:name="android.software.companion_device_setup"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>
    
    
    <application>
        <activity android:name="com.example.plugin.MyUnityPlayer"
                  android:theme="@style/UnityThemeSelector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
<!--                &lt;!&ndash;Used when Application Entry is set to GameActivity, otherwise remove this activity block&ndash;&gt;-->
<!--        <activity android:name="com.unity3d.player.UnityPlayerGameActivity"-->
<!--                  android:theme="@style/BaseUnityGameActivityTheme">-->
<!--        <intent-filter>-->
<!--            <action android:name="android.intent.action.MAIN" />-->
<!--            <category android:name="android.intent.category.LAUNCHER" />-->
<!--        </intent-filter>-->
<!--        <meta-data android:name="unityplayer.UnityActivity" android:value="true" />-->
<!--        <meta-data android:name="android.app.lib_name" android:value="game" />-->
<!--        </activity>-->
    </application>
</manifest>

